@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.cuadro {
    background: rgba(0, 0, 0, 0.6);
    padding: 3rem;
    border-radius: 8px; 
    text-align: center;
    width: 100%;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0); 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1400px;
    margin-bottom: 10%;
}

.titulo-pago {
    font-family: 'Poppins';
    font-size: 60px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    -webkit-text-stroke: 1px black;
}

.ticket {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    text-align: center;
}

.img-ticketN {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.img-ticketF {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.img-ticketV {
    margin-top: 10px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.tipo-ticketN {
    font-size: 3.5em;
    margin: 10px 0;
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
}

.tipo-ticketF{
    font-size: 3.5em;
    margin: 10px 0;
    text-shadow: 0 0 10px rgba(255, 251, 0, 0.979), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
    font-weight: bold;
    font-family: 'Big Shoulders Display', sans-serif;
}

.tipo-ticketV {
    font-size: 3.5em;
    margin: 10px 0;
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: bold;  
    text-shadow: 0 0 10px rgba(245, 7, 233, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
}

.precio-ticket {
    font-size: 1.2em;
    margin: 10px 0;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
}

.comprar-boleto {
    background-color: #ff00ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 1em;
    cursor: pointer;
    text-transform: uppercase;
}

.comprar-boleto:hover {
    background-color: #ff66ff;
}
